.button {
    background: transparent;
    border-radius: 2px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    border: 1px solid var(--border-color);
    font-weight: 500;
    line-height: normal;
    &:hover {
        background-color: var(--border-color);
        border: 1px solid transparent;
    }
}